<p>And I believe developing high quality and maintainable software to help the user achieve it's goal with ease it's the developer's main goal.</p>

<blockquote cite="https://www.goodreads.com/book/show/18043011-clean-architecture">
    <p>“Good architecture makes the system easy to understand, easy to develop, easy to maintain, and easy to deploy. The ultimate goal is to minimize the lifetime cost of the system and to maximize programmer productivity.”</p>
    <footer>— Robert C. Martin, <cite>Clean Architecture: A Craftsman's Guide to Software Structure and Design</cite></footer>
</blockquote>

<p>This site is still under construction, in the meantime feel free to follow me on social media.</p>
