<p>And I believe it's the developer's main job to build high quality and maintainable software that helps users easily achieve their goal.</p>

<pre>#AuDHD #Vegan #Backpacker #Trains #Java</pre>

<a href="mailto:mschertel@gmail.com">mschertel@gmail.com</a>

<blockquote cite="https://en.wikipedia.org/wiki/Cosmos_(Sagan_book)">
    <p>“If you wish to make an apple pie from scratch, you must first invent the universe.”</p>
    <footer>— Carl Sagan, <cite>Cosmos</cite></footer>
</blockquote>

<p>This site is still under construction. In the meantime, feel free to follow me on social media.</p>
